# Default ignored files
/shelf/
/workspace.xml
**/info.txt

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Custom
/Notes